* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #2e3035;
}

header {
  text-align: center;
}

h1 {
  font-weight: 200;
  letter-spacing: 1px;
}

input {
  width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 4px;
  background-color: #48494b;
}

button {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #1bb76e;
}

input,
button {
  height: 31px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

h1,
input,
button {
  color: #fff;
}

input:focus,
button:focus {
  outline: none;
}

.gallery-image {
  width: 310px;
  height: 310px;
  margin: 5px;
  border: 6px solid #48494b;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

main {
  max-width: 960px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
